<header class="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                SellFlow
            </div>

            <nav class="header_nav">
                <span>
                    <a th:href="@{'/'}" class="header_link">Products</a>
                    <a th:href="@{'/add'}" class="header_link">Sell</a>
                </span>

                <!-- only admins see this -->
                <span sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/users}" class="header_link">Admin Panel</a>
                </span>




                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{'/profile'}" class="header_link">Profile</a>
                </span>

                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/favorites}" class="header_link">My Favorites</a>
                </span>


                <span sec:authorize="isAnonymous()">
                    <a th:href="@{'/login'}" class="header_link" id="sign_in">Sign In</a>
                </span>


            </nav>
        </div>
    </div>
</header>