<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${product.getTitle()}"></title>
</head>
<body>

<!--header-->

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                SellFlow
            </div>

            <nav class="header_nav">
                <span>
                    <a th:href="@{'/'}" class="header_link">Products</a>
                    <a th:href="@{'/add'}" class="header_link">Sell</a>
                </span>

                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/favorites}" class="header_link">My Favorites</a>
                </span>


                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{'/profile'}" class="header_link">Profile</a>
                </span>
            </nav>

        </div>
    </div>
</header>

<!--header-->

<div class="product_details">
    <div class="container">
        <div class="product_details_inner">

            <div class="main-image-container">
                <img th:src="'data:' + ${product.images[0].contentType} + ';base64,' + ${product.images[0].base64Data}"
                     alt="Product Image"
                     class="main-image"
                     id="mainImage" height="400px">
            </div>

            <div class="thumbnail-container" th:if="${product.images.size() > 1}">
                <img th:each="image,iter : ${product.images}"
                     th:src="'data:' + ${image.contentType} + ';base64,' + ${image.base64Data}"
                     class="thumbnail"
                     th:classappend="${iter.index == 0} ? 'active' : ''"
                     onclick="changeMainImage(this)"
                     th:attr="data-fullsrc='data:' + ${image.contentType} + ';base64,' + ${image.base64Data}">
            </div>


            <h2 th:text="${product.getTitle()}">
            </h2>
            <p th:text="${product.getDescription()}"></p>
            <b th:text="${product.getPrice()}"></b>
            <p th:text="${category}"></p>
            <p th:text="${product.getCity().getName()}"></p>
            <p th:text="${product.getAuthor()}"></p>

            <div sec:authorize="isAuthenticated()">
                <form th:if="!${isFavorited}"
                      th:action="@{/favorites/add}" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}" />
                    <button type="submit" class="btn">❤️ Add to Favorites</button>
                </form>
                <form th:if="${isFavorited}"
                      th:action="@{/favorites/remove}" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}" />
                    <button type="submit" class="btn btn-danger">💔 Remove Favorite</button>
                </form>
            </div>





            <div sec:authorize="isAuthenticated()" th:if="${product.author == #authentication.name}">
                <a th:href="@{'/edit/' + ${product.id}}" class="edit-btn">Edit</a>
                <form th:action="@{'/delete/' + ${product.id}}" method="post" >
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </div>


        </div>
    </div>
</div>





<script>
    function changeMainImage(thumb) {
        document.getElementById('mainImage').src = thumb.dataset.fullsrc;

        document.querySelectorAll('.thumbnail').forEach(t => t.classList.remove('active'));
        thumb.classList.add('active');
    }

</script>


</body>
</html>